Student-Behavior-Merged-7/roboflow.zip
test.ipynb
Student-Behavior-Merged-7
Student-Behavior-Merged-7/*
**/__pycache__/
output/dfine_hgnetv2_s_custom/summary/*
*.pth
**/log.txt
train.sh
class_video.mp4
torch_results.mp4
torch_results.jpg
download_video.py
