test.ipynb
Student-Behavior-Merged-10
**/__pycache__/
output/dfine_hgnetv2_s_custom/summary/*
*.pth
**/log.txt
train.sh
class_video.mp4
class_video2.mp4
class_video_1080.mp4
torch_results.mp4
torch_results.jpg
download_video.py
download_dataset.ipynb
*.mp4
output/dfine_s_augment/summary
tools/deployment/database